/* menú actual*/

/* Color de texto BLANCO para los enlaces del menú */
#main-header .navbar-nav .nav-link {
  color: #ffffff !important;
  font-weight: 500;
  font-size: 1rem;
  text-transform: capitalize;
  padding: 0.5rem 0.75rem; /* <-- REDUCIMOS EL ESPACIO HORIZONTAL AQUÍ */
}

#main-header .navbar-nav .nav-link:hover,
#main-header .navbar-nav .nav-link:focus {
  color: #bf9861 !important; /* Tu color dorado característico */
}

#main-header .navbar-nav .nav-item.active .nav-link {
  color: #bf9861 !important; /* Color dorado para la página actual */
}




